[submodule "flexdll"]
	path = flexdll
	url = https://github.com/ocaml/flexdll.git
	shallow = true
[submodule "winpthreads"]
	path = winpthreads
	url = https://github.com/ocaml/winpthreads.git
	shallow = true
