#**************************************************************************
#*                                                                        *
#*                                 OCaml                                  *
#*                                                                        *
#*                 Damien Doligez, projet Gallium, INRIA                  *
#*                                                                        *
#*   Copyright 2015 Institut National de Recherche en Informatique et     *
#*     en Automatique.                                                    *
#*                                                                        *
#*   All rights reserved.  This file is distributed under the terms of    *
#*   the GNU Lesser General Public License version 2.1, with the          *
#*   special exception on linking described in the file LICENSE.          *
#*                                                                        *
#**************************************************************************

# general patterns

*.o
*.a
*.so
*.obj
*.lib
*.dll
*.la
*.cm[ioxat]
*.cmx[as]
*.cmti
*.annot
*.exe
*.exe.manifest
.DS_Store
*.out
*.out.dSYM
*.swp
_ocamltest
_ocamltestd
*.odoc
.merlin
_build
META

# local to root directory

/.dep
/Makefile.build_config
/Makefile.config
/autom4te.cache
/ocamlc
/config.cache
/ocaml-*.cache
/config.log
/config.status
/flexlink.opt
/libtool
/ocamlc.opt
/expunge
/ocaml
/ocamlopt
/ocamlopt.opt
/ocamlnat
/_opam

# specific files and patterns in sub-directories

/asmcomp/emit.ml
/asmcomp/arch.mli
/asmcomp/arch.ml
/asmcomp/proc.ml
/asmcomp/selection.ml
/asmcomp/reload.ml
/asmcomp/scheduling.ml
/asmcomp/CSE.ml

/boot/ocamlrun
/boot/ocamlruns
/boot/camlheader
/boot/ocamlc.opt
/boot/flexlink.byte

/bytecomp/opcodes.ml
/bytecomp/opcodes.mli

/debugger/debugger_lexer.ml
/debugger/debugger_parser.ml
/debugger/debugger_parser.mli
/debugger/debugger_parser.output
/debugger/ocamldebug

/emacs/ocamltags
/emacs/*.elc

/flexdll-sources

/lambda/runtimedef.ml

/lex/parser.ml
/lex/parser.mli
/lex/lexer.ml
/lex/ocamllex
/lex/ocamllex.opt
/lex/parser.output

/manual/src/cmds/warnings-help.etex
/manual/src/html_processing/src/common.ml
/manual/src/warnings-help.etex

/api_docgen/build
/api_docgen/odoc/build
/api_docgen/ocamldoc/build

/ocamldoc/ocamldoc
/ocamldoc/ocamldoc.opt
/ocamldoc/odoc
/ocamldoc/odoc_crc.ml
/ocamldoc/odoc_lexer.ml
/ocamldoc/odoc_ocamlhtml.ml
/ocamldoc/odoc_parser.ml
/ocamldoc/odoc_parser.mli
/ocamldoc/odoc_see_lexer.ml
/ocamldoc/odoc_text_lexer.ml
/ocamldoc/odoc_text_parser.ml
/ocamldoc/odoc_text_parser.mli
/ocamldoc/*.output
/ocamldoc/test_stdlib
/ocamldoc/test_latex
/ocamldoc/test

/ocamltest/.dep
/ocamltest/ocamltest
/ocamltest/ocamltest.opt
/ocamltest/ocamltest_config.ml
/ocamltest/ocamltest_unix.ml
/ocamltest/tsl_lexer.ml
/ocamltest/tsl_parser.ml
/ocamltest/tsl_parser.mli
/ocamltest/tsl_parser.output
/ocamltest/ocamltest.html

/otherlibs/*/.dep
/otherlibs/dynlink/extract_crc
/otherlibs/dynlink/dynlink_platform_intf.mli
/otherlibs/dynlink/byte/dynlink.mli
/otherlibs/dynlink/native/dynlink.mli
/otherlibs/dynlink/dynlink_compilerlibs/Makefile
/otherlibs/dynlink/dynlink_compilerlibs/*.ml
/otherlibs/dynlink/dynlink_compilerlibs/*.mli
/otherlibs/dynlink/dynlink_compilerlibs/.depend
/otherlibs/unix/unix.ml

/parsing/parser.ml
/parsing/parser.mli
/parsing/lexer.ml
/parsing/lexer_tmp.mll
/parsing/lexer_tmp.ml
/parsing/linenum.ml
/parsing/parser.output
/parsing/parser.automaton
/parsing/parser.conflicts
/parsing/parser.auto.messages
/parsing/camlinternalMenhirLib.ml
/parsing/camlinternalMenhirLib.mli

/runtime/caml/jumptbl.h
/runtime/caml/m.h
/runtime/caml/s.h
/runtime/primitives
/runtime/primitives.new
/runtime/prims.c
/runtime/caml/opnames.h
/runtime/caml/version.h
/runtime/ocamlrun
/runtime/ocamlrund
/runtime/ocamlruni
/runtime/ld.conf
/runtime/.gdb_history
/runtime/build_config.h
/runtime/sak
/runtime/domain_state32.inc
/runtime/domain_state64.inc

/stdlib/camlheader
/stdlib/target_camlheader
/stdlib/camlheader[di]
/stdlib/target_camlheader[di]
/stdlib/camlheader_ur
/stdlib/labelled-*
/stdlib/caml
/stdlib/sys.ml

/testsuite/**/*.result
/testsuite/**/*.opt_result
/testsuite/**/*.corrected
/testsuite/**/*.byte
/testsuite/**/*.native
/testsuite/**/program
/testsuite/**/_log*
/testsuite/failure.stamp

/testsuite/_retries


/testsuite/tools/codegen
/testsuite/tools/expect_test
/testsuite/tools/lexcmm.ml
/testsuite/tools/parsecmm.ml
/testsuite/tools/parsecmm.mli
/testsuite/tools/parsecmm.output

/tools/ocamldep
/tools/ocamldep.opt
/tools/ocamlprof
/tools/ocamlprof.opt
/tools/opnames.ml
/tools/dumpobj
/tools/dumpobj.opt
/tools/dumpapprox
/tools/ocamlobjinfo
/tools/ocamlobjinfo.opt
/tools/cvt_emit
/tools/cvt_emit.opt
/tools/cvt_emit.ml
/tools/ocamlcp
/tools/ocamlcp.opt
/tools/ocamloptp
/tools/ocamloptp.opt
/tools/ocamlmktop
/tools/ocamlmktop.opt
/tools/primreq
/tools/primreq.opt
/tools/ocamldumpobj
/tools/keywords
/tools/ocamlmklib
/tools/ocamlmklib.opt
/tools/ocamlcmt
/tools/ocamlcmt.opt
/tools/cmpbyt
/tools/cmpbyt.opt
/tools/stripdebug
/tools/stripdebug.opt
/tools/make_opcodes
/tools/make_opcodes.ml
/tools/caml-tex
/tools/eventlog_metadata

/toplevel/byte/topeval.mli
/toplevel/byte/trace.mli
/toplevel/byte/topmain.mli
/toplevel/native/topeval.mli
/toplevel/native/trace.mli
/toplevel/native/topmain.mli

/utils/config_*.ml*
/utils/config.ml
/utils/domainstate.ml
/utils/domainstate.mli

/yacc/ocamlyacc
/yacc/version.h
/yacc/.gdb_history
