*.o
*.a
*.so
*.obj
*.lib
*.dll

*.cm[ioxat]
*.cmx[as]
*.cmti
*.annot

*.result
*.byte
*.native
program
*.exe
*.exe.manifest

.depend
.depend.nt
.DS_Store

configure
ocamlc
ocamlc.opt
expunge
ocaml
ocamlopt
ocamlopt.opt
ocamlcomp.sh
ocamlcompopt.sh
package-macosx
ocamlnat

