#**************************************************************************
#*                                                                        *
#*                                 OCaml                                  *
#*                                                                        *
#*              Anil Madhavapeddy, OCaml Labs                             *
#*                                                                        *
#*   Copyright 2014 Institut National de Recherche en Informatique et     *
#*     en Automatique.                                                    *
#*                                                                        *
#*   All rights reserved.  This file is distributed under the terms of    *
#*   the GNU Lesser General Public License version 2.1, with the          *
#*   special exception on linking described in the file LICENSE.          *
#*                                                                        *
#**************************************************************************

sudo: false
language: c
git:
  submodules: false
script: bash -ex .travis-ci.sh
matrix:
  include:
  - env: CI_KIND=build XARCH=i386
  - env: CI_KIND=build XARCH=i386 CONFIG_ARG=-flambda
  - env: CI_KIND=changes
  - env: CI_KIND=tests
  allow_failures:
  - env: CI_KIND=tests
