## Location of Objective Caml Libraries
OCAMLLIBDIR=/usr/local/lib/ocaml

## Location of Objective Caml sources (only needed for the browser)
## relative to the lablbrowser directory
OCAMLSRCDIR=../..

## Compilation and link flags for Tcl/Tk applications
## Preprocessor flags to find tcl.h and tk.h
CPPFLAGS=-I/usr/local/include
## ld flags to add path to libtcl*.* and libtk*.*
## You can also add here nonstandard X libraries
LDFLAGS="-L/usr/local/lib"

## If you're building the japanised version of MMM, you must use the
## japanised versions of Tcl and Tk. The libraries are usually installed
## as libtclXXjp.a and libtkXXjp.a. Uncomment the following line if you
## want "configure" to find the correct libraries
# LIBEXT=jp

## If you are using a fancy version of Tk, like TkStep,
## set this to the base name of this version (no digits).
# TKNAME=tkstep

## Library and executables installation directories
## These MUST be absolute paths.
INSTALLDIR=$OCAMLLIBDIR/labltk41
INSTALLBINDIR=/usr/local/bin
