/***********************************************************************/
/*                                                                     */
/*                           Objective Caml                            */
/*                                                                     */
/*  Developed by Jacob Navia.                                          */
/*  Copyright 2001 Institut National de Recherche en Informatique et   */
/*  en Automatique.  All rights reserved.  This file is distributed    */
/*  under the terms of the GNU Library General Public License.         */
/*                                                                     */
/***********************************************************************/

/* $Id$ */

/* Wedit generated resource file */
#include <windows.h>
#include "inriares.h"

1000 ICON "ocaml.ico"
IDMAINMENU MENU
BEGIN
    POPUP "&File"
        BEGIN
        MENUITEM "&Open...", IDM_OPEN
        MENUITEM "&Save", IDM_SAVE
        MENUITEM "Save &As...", IDM_SAVEAS
        MENUITEM "&Close", IDM_CLOSE
        MENUITEM SEPARATOR
        MENUITEM "&Print", IDM_PRINT
        MENUITEM "P&rint Setup...", IDM_PRINTSU
        MENUITEM SEPARATOR
        MENUITEM "E&xit", IDM_EXIT
        END
    POPUP "&Edit"
        BEGIN
        MENUITEM "&Undo Alt+BkSp", IDM_EDITUNDO
        MENUITEM SEPARATOR
        MENUITEM "Cu&t  Shift+Del", IDM_EDITCUT
        MENUITEM "&Copy Ctrl+Ins", IDM_EDITCOPY
        MENUITEM "&Paste        Shift+Ins", IDM_EDITPASTE
        MENUITEM "&Delete       Del", IDM_EDITCLEAR
        END
    POPUP "Workspace"
        BEGIN
        MENUITEM "Font", IDM_FONT
        MENUITEM "Text Color", IDM_COLORTEXT
        MENUITEM "Background color", IDM_BACKCOLOR
        MENUITEM SEPARATOR
        MENUITEM "&History", IDM_HISTORY
        MENUITEM "&Garbage collect", IDM_GC
        END
    POPUP "&Window"
        BEGIN
        MENUITEM "&Tile", IDM_WINDOWTILE
        MENUITEM "&Cascade", IDM_WINDOWCASCADE
        MENUITEM "Arrange &Icons", IDM_WINDOWICONS
        MENUITEM "Close &All", IDM_WINDOWCLOSEALL
        END
    POPUP "&Help"
        BEGIN
        MENUITEM "&About...", IDM_ABOUT
        END
END
BARMDI ACCELERATORS
BEGIN
    81, IDM_EXIT, VIRTKEY, CONTROL 
END

IDD_ABOUT DIALOGEX 7, 29, 236, 81
STYLE DS_CENTER | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_CLIENTEDGE | WS_EX_TOOLWINDOW
CAPTION "About Ocaml"
FONT 8, "MS Sans Serif"
BEGIN
    LTEXT           "The Objective Caml system for windows", 101, 56, 9, 126, 12
    LTEXT           "Windows Interface 2.0", 102, 78, 21, 72, 12
    LTEXT           "Copyright 1996-2001", 103, 84, 42, 66, 10
    CTEXT           "Institut National de Recherche en Informatique et Automatique", 104, 15, 56, 211, 10
    CTEXT           "Réalisé par Jacob Navia 2001", 105, 19, 66, 207, 12
END

IDD_HISTORY DIALOGEX 6, 18, 261, 184
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME
EXSTYLE WS_EX_TOOLWINDOW
CAPTION "Session History"
FONT 8, "MS Sans Serif"
BEGIN
    LISTBOX         IDLIST, 7, 7, 247, 173, LBS_USETABSTOPS | WS_VSCROLL | WS_HSCROLL | WS_TABSTOP
END
STRINGTABLE
BEGIN
    3010, "Switches to "
    2010, "Get help"
    2000, "Create, open, save, or print documents"
    500, "Displays information about this application"
    440, "Closes all open windows"
    430, "Arranges minimized window icons"
    420, "Arranges windows as overlapping tiles"
    410, "Arranges windows as non-overlapping tiles"
    350, "Removes the selection without putting it on the clipboard"
    340, "Inserts the clipboard contents at the insertion point"
    330, "Copies the selection and puts it on the clipboard"
    320, "Cuts the selection and puts it on the clipboard"
    310, "Reverses the last action"
    270, "Quits this application"
    260, "Changes the printer selection or configuration"
    250, "Prints the active document"
    240, "Closes the active document"
    230, "Saves the active document under a different name"
    220, "Saves the active document"
    210, "Opens an existing document"
    200, "Creates a new session"
END
